<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- Basic Page Needs
  -------------------------------------------------- -->
  <meta charset="utf-8">
  <title>スタブちゃんねる（β）</title>
  <meta name="description" content="stub2ch">
  <meta name="author" content="stub2ch">

  <!-- Mobile Specific Metas
  -------------------------------------------------- -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  -------------------------------------------------- -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  -------------------------------------------------- -->
  <link rel="stylesheet" href="/test/_static/css/normalize.css">
  <link rel="stylesheet" href="/test/_static/css/skeleton.css">

  <!-- Favicon
  -------------------------------------------------- -->
  <link rel="icon" href="/test/_static/images/favicon.ico">

  <!-- Script
  -------------------------------------------------- -->
  <!-- <script type="text/javascript" src=""></script> -->

</head>
<body>

  <!-- Primary Page Layout
  -------------------------------------------------- -->
  <div class="container">
    <div class="row">
      <div class="" style="margin-top: 5%; margin-bottom: 5%;">
        <pre>
やあ （´・ω・｀)
ようこそ、バーボンハウスへ。
このテキーラはサービスだから、まず飲んで落ち着いて欲しい。

うん、「また」なんだ。済まない。
仏の顔もって言うしね、謝って許してもらおうとも思っていない。

でも、このスレタイを見たとき、君は、きっと言葉では言い表せない
「ときめき」みたいなものを感じてくれたと思う。
殺伐とした世の中で、そういう気持ちを忘れないで欲しい
そう思って、このスレを立てたんだ。

じゃあ、注文を聞こうか。
        </pre>
      </div>
    </div>
    <div class="row">
      <a class="button three columns" href="./news4vip/">news4vip</a>
      <a class="button three columns" href="./poverty/">poverty</a>
    </div>

    <hr>
    <div class="row">
      <div class="four columns">
        <p>Thanks</p>
        <ul>
          <li><a href="https://cloud.google.com/appengine/">App Engine</a></li>
          <li><a href="https://golang.org/">Go</a></li>
          <li><a href="http://getskeleton.com/">Skeleton</a></li>
        </ul>
      </div>
      <div class="four columns">
        <p>Inspired</p>
        <ul>
          <li><a href="https://5ch.net/">５ちゃんねる</a></li>
          <li><a href="https://www.2ch.sc/">２ちゃんねる</a></li>
        </ul>
      </div>
      <div class="four columns">
        <p>Contacts</p>
        <ul>
          <li><a href="https://twitter.com/temp_la">Twitter</a></li>
        </ul>
      </div>
    </div>

  </div>

  <!-- End Document
  -------------------------------------------------- -->
</body>
</html>
