<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- Basic Page Needs
  -------------------------------------------------- -->
  <meta charset="Shift_JIS">
  <title>{{ .BoardTitle }}</title>
  <meta name="description" content="stub2ch board top">
  <meta name="author" content="stub2ch">

  <!-- Mobile Specific Metas
  -------------------------------------------------- -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  -------------------------------------------------- -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  -------------------------------------------------- -->
  <link rel="stylesheet" href="/test/_static/css/normalize.css">
  <link rel="stylesheet" href="/test/_static/css/skeleton.css">

  <!-- Favicon
  -------------------------------------------------- -->
  <link rel="icon" href="/test/_static/images/favicon.ico">

  <!-- Script
  -------------------------------------------------- -->
  <script type="text/javascript" src="/test/_static/js/top.js"></script>

</head>
<body onload="BodyOnload(
              document.getElementById('subjects'),
              document.getElementById('precure'),
              '{{ .BoardName }}'
              )">

  <!-- Primary Page Layout
  -------------------------------------------------- -->
  <div class="container">
    <div class="row">
      <div class="" style="margin-top: 5%; margin-bottom: 5%;">
        <h5 style="display: inline;">{{ .BoardTitle }}</h5>
        <div class="u-pull-right"><a href="/">index</a> &gt;&gt; {{ .BoardName }} </div>
      </div>
    </div>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Title</th>
          <th>Res</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody id="subjects">
      </tbody>
    </table>
    <div class="row">
      <a class="button three columns" href="#"
         onclick="GetSubject(
                  this,
                  document.getElementById('subjects'),
                  document.getElementById('message'),
                  document.getElementById('last_load_time'),
                  document.getElementById('precure'),
                  '{{ .BoardName }}'
                  )">LOAD</a>
    </div>
    <div class="row">
      <div id="message" class="three columns"></div>
    </div>
    <hr>
    <div class="row">
      <div id="last_load_time" class="twelve columns"></div>
    </div>
    <div id="precure" style="display:none;">{{ .Precure }}</div>
  </div>

  <!-- End Document
  -------------------------------------------------- -->
</body>
</html>
