<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- Basic Page Needs
  -------------------------------------------------- -->
  <meta charset="Shift_JIS">
  <title>{{ .BoardName }}</title>
  <meta name="description" content="stub2ch board top">
  <meta name="author" content="stub2ch">

  <!-- Mobile Specific Metas
  -------------------------------------------------- -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  -------------------------------------------------- -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  -------------------------------------------------- -->
  <link rel="stylesheet" href="/test/_static/css/normalize.css">
  <link rel="stylesheet" href="/test/_static/css/skeleton.css">

  <!-- Favicon
  -------------------------------------------------- -->
  <link rel="icon" href="/test/_static/images/favicon.ico">

  <!-- Script
  -------------------------------------------------- -->
  <!-- <script type="text/javascript" src=""></script> -->

</head>
<body>

  <!-- Primary Page Layout
  -------------------------------------------------- -->
  <div class="container">
    <div class="row">
      <div class="" style="margin-top: 5%; margin-bottom: 5%;">
        <h5>専ブラから頼む</h5>
      </div>
    </div>
    <div class="row">
      <a class="six columns" href="http://{{ .URL }}">http://{{ .URL }}</a>
    </div>
    <div class="row">
      <a class="six columns" href="https://{{ .URL }}">https://{{ .URL }}</a>
    </div>
  </div>

  <!-- End Document
  -------------------------------------------------- -->
</body>
</html>
