<html>
<head>
<title>■ 書き込み確認 ■</title>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.6,user-scalable=yes" />
</head>
<body bgcolor=#EEEEEE>
<font size=+1 color=#FF0000><b>書きこみ＆クッキー確認</b></font>
<ul>
<br>
<br>
<b>{{ .Title }} </b><br>
名前：{{ .Name }}<br>
E-mail：{{ .Mail }}<br>
内容：<br>
{{ .Message }}<br>
<br>
</ul>
<b>投稿確認<br>
<b style="color: #F00; font-size: larger;">
この書き込みで本当にいいですか？<br>
犯罪予告や犯罪示唆、誹謗中傷、性的な出会いを目的とした書き込みでないか今一度確認してくださいね。
</b>
</b>
<pre>Cookie:</pre>
<form method="POST" action="../test/bbs.cgi?guid=ON" accept-charset="Shift_JIS">
<input type=hidden name=subject value="{{ .Title }}">
<input type=hidden name=FROM value="{{ .Name }}">
<input type=hidden name=mail value="{{ .Mail }}">
<input type=hidden name=MESSAGE value="{{ .Message }}">
<input type=hidden name=bbs value="{{ .BoardName }}">
<input type=hidden name=sid value="">
<input type=hidden name=time value="{{ .Time }}">
{{ if ne (index . "ThreadKey") "" }}
<input type=hidden name=key value="{{ .ThreadKey }}">
{{ end }}
<input type=hidden name="yuki" value="akari"><br>
<input type=submit value="上記全てを承諾して書き込む" name="submit"><br>
</form>
変更する場合は戻るボタンで戻って書き直して下さい。<br>
<br>
現在、荒らし対策でクッキーを設定していないと書きこみできないようにしています。<br>
<font size=-1>(cookieを設定するとこの画面はでなくなります。)</font><br>
<b style="color: #F00; font-size: larger;">この画面が繰り返し出る場合はcookieを削除してみてください。</b><br>
</body>
</html>
