<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- Basic Page Needs
  -------------------------------------------------- -->
  <meta charset="utf-8">
  <title>Admin Console :: stub2ch</title>
  <meta name="description" content="temp_la's profile">
  <meta name="author" content="temp_la">

  <!-- Mobile Specific Metas
  -------------------------------------------------- -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  -------------------------------------------------- -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  -------------------------------------------------- -->
  <link rel="stylesheet" href="/test/_static/css/normalize.css">
  <link rel="stylesheet" href="/test/_static/css/skeleton.css">

  <!-- Favicon
  -------------------------------------------------- -->
  <link rel="icon" href="/test/_static/images/favicon.ico">

  <!-- Script
  -------------------------------------------------- -->
  <script type="text/javascript" src="/test/_static/js/admin.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  -------------------------------------------------- -->
  <div class="container">
    <div class="row">
      <div class="" style="margin-top: 5%; margin-bottom: 5%;">
        <h5>Admin Console</h5>
        <p>{{ .Message }}</p>
      </div>
    </div>
    <div class="row">
      <div class="three columns">Create Board</div>
      <a class="button three columns" href="#" onclick="CreateBoard('news4vip')">news4vip</a>
      <a class="button three columns" href="#" onclick="CreateBoard('poverty')">poverty</a>
    </div>
    <div class="row">
      <div class="three columns">Write Count {{ .WriteCount }}</div>
      <a class="button three columns" href="#" onclick="WriteCount('get')">Get</a>
      <a class="button three columns" href="#" onclick="WriteCount('reset')">Reset</a>
    </div>
    <div class="row">
      <div class="three columns">System</div>
      <a class="button three columns" href="#" onclick="Logout()">Logout</a>
    </div>
  </div>

  <!-- End Document
  -------------------------------------------------- -->
<form id="f1" method="POST">
</form>
</body>
</html>
